@{
    ViewBag.Title = "Index";
}

<div class="row big-header-section">
    <div class="col-md-12 big-header text-center">
        <h1>Storm Damage</h1>
        <p>"Our goal is not just to repair your home because of a storm, but repair your home to withstand the next one."</p>
    </div>
</div>


<div class="row big-body-section">
    <div class="col-md-12">
        <div class="col-md-6 big-body">
            <p>
                Experiencing Mother Nature’s wrath is not only damaging to our homes, but to our hearts. Your safety and satisfaction are our utmost priority. To make sure your family is taken care of, we've ensured that our skilled craftsmen repair storm damaged homes with empathy, skill, and quality materials. And you can rest easy because our knowledgeable field representatives are experienced with insurance claims, and they'll work with you from start to finish. We work swiftly and carefully to make sure things can return back to normal, if not better.
            </p>
        </div>
        <div class="col-md-6 big-body">
            <img src="~/Content/Images/Sdamage.jpg" alt="Please Update browser" class="img-responsive" height="250" />
        </div>
    </div>
</div>

<div class="row big-body-section">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-primary btn-lg btn-block">Schedule An Appointment</a>
        </div>
    </div>
</div>

<div class="row big-body-section">
    <div class="col-md-12">
        <div class="col-md-6">
            @*<img src="~/Content/Images/repair.jpeg" alt="Please Update browser" class="img-responsive" />*@
        </div>
        <div class="col-md-6">
            @*<img src="~/Content/Images/shutterstock_90021889.jpg" alt="Please Update browser" class="img-responsive" />*@
        </div>
        <div class="col-md-5 big-body top-space">
            <p>For more information and tips on how to prep your home for storms, follow our <a>blog</a>. </p>
        </div>
    </div>
</div>